<div id="pre-loader" class="pre-loader">
    <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">Cargando</span>
    </div>
    <div class="pre-loader-logo"><span class="text-uppercase fw-2 text-white">NU<span class="fw-8 text-black">RA</span></span></div>
</div>